.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}

.btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
